/***********************************************************************************************************************
 *  Custom variable values
 */

/** Main colors **/
$body-color:  rgb(15, 15, 15);
$body-bg:     rgb(240, 240, 240);

/**   Rows   **/
$red: rgb(242, 104, 104);
$green: rgb(126, 161, 79);
$blue: rgb(101, 156, 203);
$yellow: rgb(224, 219, 152);

$theme-colors: (
		//"primary": $gray-500,
		//"secondary": $gray-700,
		"success": $green,
		"danger": rgb(176, 30, 30),
		"warning": $yellow,
		"info": $blue,
		"light": $body-bg,
		"dark": $body-color
);


@import "../../../node_modules/bootstrap/scss/bootstrap";

/***********************************************************************************************************************
 *  Styles
 */
#app {
	.buffer-lg {
		margin-top: 15px;
	}

	div.row {
		--bs-gutter-x: 0;
	}
}

.screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

@import "Form";
@import "Entry";
