/***********************************************************************************************************************
 *  Custom variable values
 */

/** Main colors **/
$body-color:  rgb(15, 15, 15);
$body-bg:     rgb(240, 240, 240);

/**   Rows   **/
$red: rgb(242, 104, 104);
$green: rgb(126, 161, 79);
$blue: rgb(63, 169, 245);
$yellow: rgb(254, 248, 166);

@import "../../../node_modules/bootstrap/scss/bootstrap";

/***********************************************************************************************************************
 *  Styles
 */
#app {
	.buffer-lg {
		margin-top: 15px;
	}

	div.row {
		--bs-gutter-x: 0;
	}
}

@import "Row";
