/******************************************************************
 *  Entry Row
 */
.entry-row {
	height: 90px;
	padding: 5px;
}

.ecl-grey {
	background-color: $gray-600;
}

.ecl-red {
	background-color: $red;
}

.ecl-green {
	background-color: $green;
	filter: drop-shadow(-2px 5px 5px $gray-800);
}

.ecl-blue {
	background-color: $blue;
}

.ecl-yellow {
	background-color: $yellow;
}

/*************************************************
 *   Labels in each row
 */
.entry-row {
	* {
		display: inline;
		margin-left: 5px;
	}

	input {
		padding: 0;
		background-color: transparent;
		border: none;
		align-self: flex-end;
	}

	input:focus {
		text-align: left;
		background-color: $body-bg;
		color: $body-color;
	}

	.textarea-container {
		background: transparent;
		position: relative;
		overflow: auto;
		margin-bottom: 6px;

		.textarea {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px 0;
			margin: 0 5px;
			overflow: hidden;
		}

		.textarea:empty:before {
			color: rgba(0, 0, 0, 0.6);
			content: attr(data-placeholder);
		}

		.textarea:focus {
			background-color: $body-bg;
			border: solid medium rgb(70, 120, 211);
		}

		.textarea:hover {
			cursor: text;
		}
	}

	h4 {
		align-self: flex-end;
		text-align: right;
		flex: 0.033;
		margin-bottom: 9px;
	}

	h2 {
		align-self: flex-end;
	}

	.name-title {
		//color: $gray-700;
		text-align: left;

		height: 3rem;
		font-size: 1.5rem;
		max-width: 12%;
	}

	.rank-title {
		height: 3rem;
		font-size: 1.5rem;
		max-width: 6%;
	}

	.number-title {
		text-align: center;

		height: 4.2rem;
		font-size: 80px;
		max-width: 7%;
		margin-bottom: 12px;
	}

	.action-title {
		text-align: center;
		height: 4.3rem;
		font-size: 50px;
		max-width: 13%;
	}

	.action_mod-title {
		line-height: 35px;
		text-align: left;
		font-size: 30px;
		max-width: 12%;
	}

	.place-container {
		flex: 0.85;

		.place-title {
			font-size: $h2-font-size;
			line-height: $h2-font-size;
			min-height: 10px;
		}
	}

	.am-container {
		flex: 0.4;

		.am-title {
			font-size: $h2-font-size;
			line-height: $h2-font-size;
			min-height: 10px;
		}
	}

	.call-title {
		text-align: center;
		font-size: 50px;
		width: 3em;
		height: 4.2rem;
	}
}
