/******************************************************************
 *  Entry Row
 */
.entry-row {
	background-color: $gray-600;
	height: 90px;
	padding: 5px;
}

.entry-red {
	background-color: $red;
}

.entry-green {
	background-color: $green;
	filter: drop-shadow(-2px 5px 5px $gray-800);
}

.entry-blue {
	background-color: $blue;
}

.entry-yellow {
	background-color: $yellow;
}

/*************************************************
 *   Labels in each row
 */
.entry-row {
	* {
		display: inline;
		margin-left: 5px;
	}

	input {

		padding: 0;
		background-color: transparent;
		border: none;
		align-self: flex-end;
	}

	textarea {
		min-height: 5.0rem;
		max-height: 5.0rem;
		padding: 0 5px 0 0;
		background-color: transparent;
		border: none;
		align-self: flex-end;
	}

	h4 {
		align-self: flex-end;
		text-align: right;
		flex: 0.033;
	}

	h2 {
		align-self: flex-end;
	}

	.name-title {
		//color: $gray-700;
		text-align: left;

		height: 3rem;
		font-size: 1.5rem;
		max-width: 12%;
	}

	.label-title {
		height: 3rem;
		font-size: 1.5rem;
		max-width: 6%;
	}

	.number-title {
		text-align: center;

		height: 5.0rem;
		font-size: 80px;
		max-width: 8%;
		//flex: 0.07;
	}

	input:focus {
		text-align: left;
	}

	.action-title {
		text-align: center;
		height: 5.0rem;
		font-size: 80px;
		max-width: 20%;
	}

	.action_mod-title {
		line-height: 35px;
		text-align: left;
		font-size: 30px;
		max-width: 12%;
	}

	.place-title {
		line-height: 45px;
		text-align: left;
		font-size: 35px;
		max-width: 23%;
	}

	.call-title {
		text-align: center;
		font-size: 50px;
		max-width: 8%;
	}
}
