/******************************************************************
 *  Entry Row
 */
.entry-row {
	background-color: $gray-600;
	height: 90px;
	padding: 5px;
}

.entry-red {
	background-color: $red;
}

.entry-green {
	background-color: $green;
	filter: drop-shadow(-2px 5px 5px $gray-800);
}

.entry-blue {
	background-color: $blue;
}

.entry-yellow {
	background-color: $yellow;
}

/*************************************************
 *   Labels in each row
 */
.entry-row {
	* {
		display: inline;
		margin-left: 5px;
	}

	input {

		padding: 0;
		background-color: transparent;
		border: none;
		align-self: flex-end;
	}

	input:focus {
		text-align: left;
		background-color: $body-bg;
		color: $body-color;
	}

	textarea {
		min-height: 5.0rem;
		max-height: 5.0rem;
		padding: 0 5px 0 0;
		background-color: transparent;
		border: none;
		align-self: flex-end;
	}

	textarea:focus {
		text-align: left;
		background-color: $body-bg;
		color: $body-color;
	}

	h4 {
		align-self: flex-end;
		text-align: right;
		flex: 0.033;
		margin-bottom: 3px;
	}

	h2 {
		align-self: flex-end;
	}

	.name-title {
		//color: $gray-700;
		text-align: left;

		height: 3rem;
		font-size: 1.5rem;
		max-width: 12%;
	}

	.label-title {
		height: 3rem;
		font-size: 1.5rem;
		max-width: 6%;
	}

	.number-title {
		text-align: center;

		height: 5.0rem;
		font-size: 80px;
		max-width: 4%;
	}

	.action-title {
		text-align: center;
		height: 5.0rem;
		font-size: 80px;
		max-width: 20%;
	}

	.action_mod-title {
		line-height: 35px;
		text-align: left;
		font-size: 30px;
		max-width: 12%;
	}

	.place-container {
		//border: 1px solid #000;
		background: transparent;
		position: relative;
		overflow: auto;
		flex: 0.85;

		.place-title {
			font-size: $h2-font-size;
			line-height: $h2-font-size;
			min-height: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px 0;
			margin: 0 5px;
			overflow: hidden;
		}

		.place-title:focus {
			background-color: $body-bg;
			border: solid medium rgb(89, 80, 229);
		}
	}

	.am-container {
		//border: 1px solid #000;
		background: transparent;
		position: relative;
		overflow: auto;
		flex: 0.4;

		.am-title {
			font-size: $h2-font-size;
			line-height: $h2-font-size;
			min-height: 10px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5px 0;
			margin: 0 5px;
			overflow: hidden;
		}

		.am-title:focus {
			background-color: $body-bg;
			border: solid medium rgb(89, 80, 229);
		}
	}

	.call-title {
		text-align: center;
		font-size: 50px;
		max-width: 8%;
	}
}
